<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uoc.lsviewer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"        
        android:theme="@style/Theme.GDActionBar"  
        android:name="com.uoc.lsviewer.GDActionBarApplication">
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity
            android:name=".Login" 
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".Home" 
            android:label="@string/app_Home"/>
     	<activity 
            android:name=".NetList" 
            android:label="@string/app_NetList"/>
        <activity 
            android:name=".MapsList" 
            android:label="@string/app_Maps"/>
         <activity 
            android:name=".ImagesGrid" 
            android:label="@string/app_Images"/>
        <activity 
            android:name=".QRCode" 
            android:label="@string/app_QRCode"/>
        <activity 
            android:name=".SensorList" 
            android:label="@string/app_SensorList"/>
        <activity 
            android:name=".SensorInfo" 
            android:label="@string/app_SensorInfo"/>        
       <activity 
            android:name=".Help" 
            android:label="@string/app_Help"/>    
    </application>
</manifest>